*
{
    margin: 0;
    padding: 0;
}
form .form-group
{
    margin-bottom: 12px;
}
form input[type="submit"]
{
    font-size: 20px;
    margin-top: 15px;
}
.para
{
    margin-top: 15px;
}